.templateInput {
  background: var(--bg-component-light);
  border: 1px solid var(--border-soft);
  color: var(--text-secondary);
  width: 327px;
  font: 400 14px Poppins;
  resize: none;
  padding: 14px;
  max-height: 48px;
}

.templateInput:focus{
  outline: none;
  border-color: var(--comp-focus);
}

.wrapper {
  position: relative;
}

.default {
  border-color: var(--border-soft);
}

.success {
  border-color: #4caf50;
}

.error {
  border-color: #f44336;
  color: #f44336;
}

.iconSuccess {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #4caf50;
}

.iconError {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #f44336;
}

.errorText {
  margin-top: 6px;
  font-size: 13px;
  color: #f44336;
}
