.templateButton {
  padding: 12px 48px;
  font: 400 14px Poppins;
  line-height: 20px;
  border: 0;
  color: var(--text-primary);
  background: var(--fill-positive);
  cursor: pointer;
  width: max-content;
  /* max-width: 215px; */
}

.templateButton:hover {
  background-color: var(--btn-hover);
  transition: 0.3s;
}

.templateButton:active {
  background-color: var(--btn-pressed);
}

@media (max-width:500px) {
  .templateButton {
    padding: 8px 24px;
  }

}