.templateButton {
  padding: 12px 48px;
  font: 400 14px Poppins;
  line-height: 20px;
  border: 0;
  color: var(--text-primary);
  background: var(--fill-positive);
  cursor: pointer;
  width: max-content;
}

.templateButton:hover {
  background-color: var(--btn-hover) !important;
  transition: 0.3s;
}

.templateButton:active {
  background-color: var(--btn-pressed) !important;
}

.templateButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  background-color: #BCC3E3;
  border: 1px solid #9DA6CB;
}


@media (max-width:500px) {
  .templateButton {
    padding: 8px 24px;
  }

}