.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 85px;
  padding: 0 24px;

}

.content {
  margin: 0 auto;
  width: 700px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.postCreation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--border-soft);
  padding: 12px;
  background-color: var(--bg-surface);
  font: 400 14px Poppins;
  margin-bottom: 26px;
}

.inputAndAvatar {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inputAndAvatar img {
  border-radius: 50%;
  width: 64px;
}

.feed {
  border: 2px solid var(--border-soft);
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--bg-surface);
  padding: 24px;
  border-bottom: 2px solid var(--border-soft);
}

.profileinfo {
  display: flex;
  gap: 12px;
  color: var(--text-primary);
  align-items: center;
}

.profilephoto {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.secondaryText {
  font: 400 16px Inter;
  color: var(--text-secondary);
  height: 24px;
}

.primaryText {
  font: 500 16px Inter;
  color: var(--text-primary);
  height: 24px;
}

.posttext {
  font-weight: 400;
  font-size: 20px;
}

.interactiveboard {
  display: flex;
  gap: 16px;
}

.likes,
.comments {
  display: flex;
  gap: 8px;
  align-items: center;
}

.suggestedPeople,
.suggestedCommunity {
  background: var(--bg-surface);
  border: 2px solid var(--border-soft);
  padding: 24px;
  max-width: 341px;
}

.suggestedList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.suggestedBlock {
  padding: 12px 0;
}

.miniPerson {
  display: flex;
  gap: 16px;
  align-items: center;
}

.miniPersonAvatar {
  border-radius: 50%;
}

.miniPersonInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.asideTitle {
  font: 600 16px Inter;
  padding-bottom: 8px;
}

.suggestedArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.commentDropdown {
  display: flex;
  gap: 8px;
}

.commentsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.commentsListBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img:hover {
  cursor: pointer;
}

@media (max-width:1330px) {
  .suggestedArea {
    display: none;
  }
}


@media (max-width:1200px) {
  .container {
    display: block;

  }

  .content {
    width: 100%;
    max-width: 700px;
  }

  .suggestedArea {
    display: none;
  }

  .postCreation {
    margin: 0;
    border-bottom: 0;
  }
}

@media (max-width:500px) {
  .container {
    padding: 0;
  }

  .inputAndAvatar img {
    width: 32px;
  }

}

@media (min-width:3000px) {
  .container {
    gap: 0;
  }
}