.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.segmentedControl {
  display: flex;
  padding: 4px;
  background-color: var(--bg-surface);
}

.segmentedTextActive {
  background-color: var(--fill-positive);
}

.segmentedText {
  padding: 4px 12px;
  font: 500 16px Inter;
  cursor: pointer;

}





