.adding_comment {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hint {
  display: flex;
  align-items: center;
  gap: 8px;
  font: 500 14px Poppins;
}

.secondaryText {
  font: 400 16px Inter;
  color: var(--text-secondary);
  height: 24px;
}

.primaryText {
  font: 500 16px Inter;
  color: var(--text-primary);
  /* height: 32px; */
}