.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  min-width: 375px;
}

.preview {
  max-width: 221px;
}

.title {
  font: 600 18px Poppins;
  text-align: center;
}

.signinDescription {
  font: 400 14px Poppins;
  text-align: center;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hint {
  max-width: 327px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hintContent {
  display: flex;
  align-items: center;
  gap: 8px;
  font: 400 14px Poppins;
}

.hint_img {
  width: 16px;
  height: 16px;
}

.navigation {
  font: 400 14px Poppins;
}

.switch_auth_pages {
  border-bottom: 1px solid var(--text-primary);
}

@media (max-width:400px) {
  .content {
    width: 310px;
    min-width: 0;
  }

  .inputBlock {
    width: 100%;
  }

  .inputArea{
    align-items: center;
    justify-content: center;
  }
}