header {
  background: var(--bg-surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
  z-index: 7;
  user-select: none;
}

.logo {
  padding: 12px 24px;
  height: 68px;
  display: flex;
  align-items: center;
}

.menuContent {
  font: 400 18px Poppins;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px 48px;
  cursor: pointer;
}

.hasLoggedIn {
  gap: 8px;
}

.avatarImg {
  border-radius: 50%;
  width: 24px;
}

.headerMenuBurger {
  display: none;
}


@media (max-width: 700px) {
  .headerMenu {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerMenuBurger {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .headerMenuText {
    display: none;
  }

  .menuContent {
    display: none;
  }

}