footer {
  background: var(--bg-surface);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.copyright {
  color: var(--text-positive);
  font: 400 18px Inter;
  padding: 20px 0;
}