.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.errorMessage {
  font: 600 60px Inter;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
